.env
target/
tests/
Dockerfile
scripts/
!container-scripts/
!migrations/
# Terraform files
.terraform/
*.tfstate
*.tfstate.*
.terraformrc
terraform.rc
*.tfvars
!example.tfvars
.terraform.lock.hcl
crash.log
terraform/.terraform